* {
    margin: 0;
    padding: 0;
  }
  
  .transaction {
    margin: 0 auto;
    width: 600px;
    min-height: 300px;
    border: 1px solid hsl(0, 1%, 65%);
    background-color: #fff;
    text-align: center;
    color: #747474;
  }
  
  .thead_tr {
    background-color: #00bcd5;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    height: 50px;
  }
  
  .type_td {
    text-align: center;
  }
  
  .tbody_tr:nth-child(even) {
    background-color: #ecf1f4;
  }
  
  .tbody tr {
    height: 40px;
  }